{% extends 'main.html' %}

{% block content %}
  <div>
    <a id="uploadLink" href="{% url 'file-upload' %}">Upload a File</a>
  </div>

  {% regroup object_list by uploader as grouped_list %}
  <h2>Wayfarer Image Gallery</h2>
  <ul>
    {% for image_list in grouped_list %}
    <li>
      <h3><a href="{% url 'user' userId=image_list.grouper.slug %}">{{ image_list.grouper.name }}</a></h3>
      <div class="image-list">
        {% for image in image_list.list %}
          {% if forloop.counter0 < 5 %}
            <div class="image-item">
              <a href="{{ image.url }}" target="_blank" rel="noopener noreferrer">
                <img src="{{ image.url }}" alt="{{image.name}}" class="user-image"/>
                <img src="/static/splatter{{splatters|random}}.png" alt="" class="splatter"/>
                <p>Upload date: {{ image.created_at|date:"Y M d D" }}</p>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
{% endblock %}